@font-face {
  font-family: 'Zen Kaku Gothic New';
  src: url('../fonts/Zen_Kaku_Gothic_New/ZenKakuGothicNew-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Josefin Sans';
  src: url('../fonts/Josefin_Sans/static/JosefinSans-Bold.ttf') format('truetype');
}

body{
  background-color: #bfdcff;
  font-family: 'Zen Kaku Gothic New', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

main{
  width: 860px;
  margin: 0 auto;
  padding-top:100px;
  overflow: hidden;
}

.slider{
  width: 100%;
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

.slider::-webkit-scrollbar {
  display: none;
}

.slider .slide {
  --width-slide: calc((860px / 3) - 8px);
  min-width: var(--width-slide);
  max-width: var(--width-slide);
  object-fit: cover;
  scroll-snap-align: start;
  aspect-ratio: 1/2;
  overflow: hidden;
  margin-right: 8px;
}

.slider .slide .slide_image_wrap{
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  overflow: hidden;
}

.slider .slide .slide_image_wrap img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider .slide .slide_text_wrap{
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.slide_date_wrap{
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: #9a7e00;
  letter-spacing: 1px;
  margin-top: 8px;
}

.slider .slide .slide_text_wrap {
  /* テキストを2行にする */
  height: 3rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  word-wrap: break-word;
  margin-top: 4px;
}